@charset "utf-8";

*{
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
/* vertical-align: baseline; */
}

.header{
    width: 100%;
    height: 90px;
    background: gray;
}
.main-menu{
    width: 1120px;
    margin: 0 auto;
    background: pink;
}
.main-menu h1 img{
    width: 70px;
    height: 25px;
    display: inline-block;
}
.main-nav{
    position: flex;
    list-style: none;
    background: yellow;
}
.main-menu-title{
    display: inline;
}
.visual{
    width: 100%;
    height: 610px;
    background: plum;
}
.main{
    height: 700px;
    background: powderblue;
}
.footer{
    height: 80px;
    background: tomato;
}
